body {
    background-image: url("/static/img/background.png");
    background-repeat: repeat;
    padding-top: 40px;
    position: relative;
}
@media (min-width: 768px) and (max-width: 979px) {
    body {
        padding-top: 0;
    }
}
@media (max-width: 767px) {
    body {
        padding-top: 0;
    }
}
header {
    text-align: left;
    position: relative;
    padding: 40px 0;
}

header .container {
    position: relative;
    z-index: 2;
}